.loading-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  .brand {
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 40%;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    transform: translate(-50%, -50%);
  }
  .loading-text {
    color: #ffffff;
    position: absolute;
    left: 50%;
    bottom: 36%;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 996px) {
  .loading-container {
    .brand {
      top: 36%;
    }
    .loading-text {
      bottom: 28%;
    }
  }
}
.loading {
  width: 100px;
  height: 102px;
  border-radius: 100%;
  position: absolute;
  top: 45%;
  left: calc(50% - 50px);
}

.circle {
  width: 100%;
  height: 100%;
  position: absolute;
}
.circle .inner {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 5px solid rgba(255, 255, 255, 0.7);
  border-right: none;
  border-top: none;
  background-clip: padding;
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.15);
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.circle:nth-of-type(0) {
  transform: rotate(0deg);
}
.circle:nth-of-type(0) .inner {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.circle:nth-of-type(1) {
  transform: rotate(70deg);
}
.circle:nth-of-type(1) .inner {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.circle:nth-of-type(2) {
  transform: rotate(140deg);
}
.circle:nth-of-type(2) .inner {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.loading {
  -webkit-animation: spin 5s infinite linear;
  animation: spin 5s infinite linear;
}
