@if (spinnerActive) {
  <div class="loading-container" @fadeLoadingIn @fadeLoadingOut>
    <h1 class="brand">Computerome</h1>
    <div class="loading">
      <div class="circle">
        <div class="inner"></div>
      </div>
      <div class="circle">
        <div class="inner"></div>
      </div>
      <div class="circle">
        <div class="inner"></div>
      </div>
      <div class="circle">
        <div class="inner"></div>
      </div>
      <div class="circle">
        <div class="inner"></div>
      </div>
    </div>
    <h1 class="loading-text">Loading...</h1>
  </div>
}
