/Esport.MSSQL/data
/Esport.MSSQL/log
/Esport.MSSQL/secrets
/Esport.Backend/obj
/Esport.Database/obj
/.vs
/Esport.Backend/bin
/Esport.Database/bin
Esport.Client/ssl/server.crt
Esport.Client/ssl/server.key
/Esport.Backend/uploads/news
