<h1>Mine ting</h1>
<div class="grid grid-cols-1 md:grid-cols-12 gap-4 mb-4">
  <div class="md:col-span-4">
    <div class="relative w-full">
      <h2>Mine aktiviteter</h2>
      @if (isAdmin === true) {
        <div class="absolute top-0 right-0">
          <p-button
            size="small"
            icon="pi pi-calendar-plus"
            text="true"
            (click)="openEditor(editorType.Event, undefined)" />
        </div>
      }
    </div>
    <p-card>
      @for (ue of userEvents; track ue) {
        <div class="relative w-full">
          <div class="absolute top-0 right-0">
            <p-button
              [icon]="isAdmin === true ? 'fal fa-pencil' : 'fal fa-info-circle'"
              text="true"
              severity="primary"
              (click)="openEditor(editorType.Event, ue.event.id)" />
          </div>
          <h3>{{ ue.event.name }}</h3>
          <p class="text-gray-700 dark:text-gray-400">
            {{ ue.event.startDateTime | date: 'dd. MMM yyyy HH:mm' }} - {{ ue.event.endDateTime | date: 'HH:mm' }}
          </p>
          <div class="w-full flex flex-wrap gap-2 mb-4 mt-2">
            <p-overlaybadge
              title="Inviterede"
              badgeSize="small"
              [value]="ue.participants.invited"
              severity="secondary"
              class="mr-2">
              <i class="fal fa-users" style="font-size: 1.6rem"></i>
            </p-overlaybadge>
            <p-overlaybadge
              title="Deltager"
              badgeSize="small"
              [value]="ue.participants.accepted"
              severity="success"
              class="mr-2">
              <i class="fal fa-check text-green-400" style="font-size: 1.6rem"></i>
            </p-overlaybadge>
            <p-overlaybadge
              title="Deltager ikke"
              badgeSize="small"
              [value]="ue.participants.declined"
              severity="danger"
              class="mr-2">
              <i class="fal fa-times text-red-400" style="font-size: 1.6rem"></i>
            </p-overlaybadge>
            <p-overlaybadge
              title="Laptops"
              badgeSize="small"
              [value]="ue.participants.laptops"
              severity="secondary"
              class="mr-2">
              <i class="fal fa-laptop text-gray-400" style="font-size: 1.6rem"></i>
            </p-overlaybadge>
            <p-overlaybadge
              title="Desktops"
              badgeSize="small"
              [value]="ue.participants.desktops"
              severity="secondary"
              class="mr-2">
              <i class="fal fa-desktop text-gray-400" style="font-size: 1.6rem"></i>
            </p-overlaybadge>
            <p-overlaybadge
              title="Playstations"
              badgeSize="small"
              [value]="ue.participants.playstations"
              severity="secondary"
              class="mr-2">
              <i class="fab fa-playstation text-gray-400" style="font-size: 1.6rem"></i>
            </p-overlaybadge>
          </div>
          <div class="w-full clearfix">
            <p class="fl">Deltager du?</p>
            <div class="fr text-right mb-4">
              <p-button
                size="small"
                rounded="true"
                icon="fal fa-check"
                class="mr-2"
                (click)="setEventAttendance(ue, true)"
                [severity]="ue.eventsUser.accepted !== null ? 'success' : 'secondary'" />
              <p-button
                size="small"
                rounded="true"
                icon="fal fa-times"
                (click)="setEventAttendance(ue, false)"
                [severity]="ue.eventsUser.declined !== null ? 'danger' : 'secondary'" />
            </div>
          </div>
        </div>
      }
      @if (userEvents.length === 0) {
        <p class="mb-0">Du har ingen kommende events.</p>
      }
    </p-card>
    <h2>Discord</h2>
    <p-card header="Bliv en del af fællesskabet">
      <p>Vores Discord server er åben for alle medlemmer af klubben.</p>
      <a href="https://discord.gg/BRz85AE9zK" target="_blank" class="no-underline">
        <p-button pButton type="button" type="text" label="Gå til Discord" icon="pi pi-discord" class="w-full" />
      </a>
    </p-card>
  </div>
  <div class="md:col-span-8">
    <div class="relative w-full">
      <h2>Klubbens servere</h2>
      @if (isAdmin === true) {
        <div class="absolute top-0 right-0">
          <p-button size="small" icon="fal fa-joystick" text="true" (click)="openEditor(editorType.Game, undefined)" />
          <p-button
            size="small"
            icon="fal fa-server"
            text="true"
            (click)="openEditor(editorType.GameServer, undefined)" />
        </div>
      }
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
      @for (gs of gameServers; track gs) {
        <p-card>
          <ng-template #header>
            <div class="w-full flex justify-center p-4">
              <img alt="Card" class="w-full rounded-md" [src]="'/games/' + gs.game.logo" />
            </div>
          </ng-template>
          <div class="relative">
            <div class="m-0 mb-4" [innerHTML]="gs.gameServer.game?.description"></div>
            <p class="m-0 font-bold">Server: {{ gs.gameServer.server }}</p>
            <p class="m-0 font-bold">Port: {{ gs.gameServer.port }}</p>
            <div class="absolute bottom-0 right-0">
              <p-button size="small" icon="pi pi-trash" text="true" severity="danger" (click)="removeGameServer(gs)" />
              <p-button
                size="small"
                icon="pi pi-pencil"
                text="true"
                (click)="openEditor(editorType.GameServer, gs.gameServer.id)" />
            </div>
          </div>
        </p-card>
      }
    </div>
  </div>
</div>
<p-card>
  <ng-template #header>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
      <div class="col-span-2 md:col-span-1">
        <h2>Dine informationer</h2>
      </div>
      <div class="col-span-2 md:col-span-1 text-right">
        <p-button icon="pi pi-pencil" text="true" (click)="openEditor(editorType.User, userInfo?.id)" />
      </div>
    </div>
  </ng-template>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
    <div class="col-span-3 md:col-span-1">
      <p>{{ userInfo?.firstName }} {{ userInfo?.lastName }}</p>
      <p>
        <a href="mailto:{{ userInfo?.username }}">{{ userInfo?.username }}</a>
      </p>
      <p>{{ userInfo?.mobile }}</p>
    </div>
    <div class="col-span-3 md:col-span-1">
      <p>
        {{ userInfo?.addressStreet }} {{ userInfo?.addressStreetNumber }} {{ userInfo?.addressFloor }}
        {{ userInfo?.addressSide }}
      </p>
      <p>{{ userInfo?.addressPostalCode }} {{ userInfo?.addressCity }}</p>
    </div>
    <div class="col-span-3 md:col-span-1">
      <h3>Kan medbringe følgende udstyr</h3>
      @if (userInfo) {
        <p>
          <i
            class="pi pi-check mr-2"
            [ngClass]="
              userInfo.canBringLaptop === true
                ? 'pi pi-check md:text-green-400 text-green-700'
                : 'pi pi-times md:text-red-400 text-red-700'
            "></i>
          <span>Bærbar PC</span>
        </p>
        <p>
          <i
            class="pi pi-check mr-2"
            [ngClass]="
              userInfo.canBringStationaryPc === true
                ? 'pi pi-check md:text-green-400 text-green-700'
                : 'pi pi-times md:text-red-400 text-red-700'
            "></i>
          <span>Stationær PC</span>
        </p>
        <p>
          <i
            class="pi pi-check mr-2"
            [ngClass]="
              userInfo.canBringPlaystation === true
                ? 'pi pi-check md:text-green-400 text-green-700'
                : 'pi pi-times md:text-red-400 text-red-700'
            "></i>
          <span>Playstation</span>
        </p>
        <p>
          <i
            class="pi pi-check mr-2"
            [ngClass]="
              userInfo.consentShowImages === true
                ? 'pi pi-check md:text-green-400 text-green-700'
                : 'pi pi-times md:text-red-400 text-red-700'
            "></i>
          <span>Må klubben vise billeder med dig på vores side?</span>
        </p>
      }
    </div>
  </div>
</p-card>
<p-dialog [header]="editorText" [modal]="true" [(visible)]="visibleEditor" styleClass="w-full md:w-3/4">
  @switch (selectedEditorType) {
    @case (editorType.User) {
      <app-user-editor [id]="selectedId" (closeHandler)="handleEditorSave($event)"></app-user-editor>
    }
    @case (editorType.Game) {
      <app-games-editor (closeHandler)="handleEditorSave($event)"></app-games-editor>
    }
    @case (editorType.GameServer) {
      <app-game-servers-editor [id]="selectedId" (closeHandler)="handleEditorSave($event)"></app-game-servers-editor>
    }
    @case (editorType.Event) {
      <app-event-editor [id]="selectedId"> </app-event-editor>
    }
  }
</p-dialog>
