<div class="p-container text-center">
  <h1 style="font-size: 6rem; color: #1b365f; padding: 0; margin: 0">
    <strong>4</strong><i class="pi pi-bullseye" style="font-size: 5rem"></i><strong>4</strong>
  </h1>
  <p class="text-4xl font-light teal-dark mb-6 text-center">Page not found</p>
  <p class="mt-20 mb-12 teal-dark text-sm">
    Sorry, we can't find the page you are looking for. Please contact us for help.
  </p>
  <p-button type="button" label="Homepage" class="mr-6 mb-2" [routerLink]="'/'"></p-button>
  <p-button type="button" label="Our team" class="mr-6 mb-2" [routerLink]="'/our-team'"></p-button>
  <p-button type="button" label="Contact Us" class="mr-6 mb-2" [routerLink]="'/contact-us'"></p-button>
</div>
