<div class="w-full text-center">
  <h1 style="font-size: 6rem; color: #1b365f; padding: 0; margin: 0">
    <strong>4</strong><i class="pi pi-shield" style="font-size: 5rem"></i><strong>3</strong>
  </h1>
  <h3>Forbidden</h3>
  <p>You are not allowed to view the page you have requested.</p>
  <p>You can either visit our homepage or contact our support team</p>
  <p-button type="button" label="Visit homepage" class="mr-1" [routerLink]="'/'"></p-button>
  <p-button type="button" label="Contact Us" class="p-button-secondary" [routerLink]="'/contact-us'"></p-button>
</div>
