<footer class="main-bg">
  <div
    class="mx-auto max-w-screen-xl space-y-8 px-4 py-8 sm:px-6 lg:space-y-16 lg:px-8"
  >
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div>
        <div class="text-teal-600">
          <img
            class="brand-logo-img"
            src="logos/logo.png"
            srcset="logos/logo.svg"
            alt="computerome logo"
          />
        </div>

        <p class="mt-4 max-w-xs text-gray-500">
          Vi er en privat e-sports klub med fokus på socialt samvær.
        </p>
      </div>

      <div
        class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:col-span-2 lg:grid-cols-4"
      >
        <div>
          <p class="font-medium text-gray-400">Ydelser</p>

          <ul class="mt-6 space-y-4 text-sm">
            <li>
              <a href="#" class="text-gray-500 transition hover:opacity-75">
                E-sport træning
              </a>
            </li>
            <li>
              <a href="#" class="text-gray-500 transition hover:opacity-75">
                LAN fester
              </a>
            </li>
          </ul>
        </div>
        <div>
          <p class="font-medium text-gray-400">Klubben</p>

          <ul class="mt-6 space-y-4 text-sm">
            <li>
              <a href="#" class="text-gray-500 transition hover:opacity-75">
                Om os
              </a>
            </li>
            <li>
              <a href="#" class="text-gray-500 transition hover:opacity-75">
                Mød holdet
              </a>
            </li>
          </ul>
        </div>
        <div>
          <p class="font-medium text-gray-400">Nyttige Links</p>
          <ul class="mt-6 space-y-4 text-sm">
            <li>
              <a href="#" class="text-gray-500 transition hover:opacity-75">
                Kontakt
              </a>
            </li>
            <li>
              <a href="#" class="text-gray-500 transition hover:opacity-75">
                FAQs
              </a>
            </li>
          </ul>
        </div>
        <div>
          <p class="font-medium text-gray-400">Juridisk</p>

          <ul class="mt-6 space-y-4 text-sm">
            <li>
              <a [routerLink]="'/gdpr'" class="text-gray-500 transition hover:opacity-75">
                GDPR
              </a>
            </li>
            <li>
              <a
                href="https://datacvr.virk.dk/enhed/virksomhed/37043133"
                target="_blank"
                class="text-gray-500 transition hover:opacity-75"
              >
                CVR 37043133
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p class="text-xs text-gray-500 mx-auto w-full text-center">&copy; 2025 - EasyModules.NET APS</p>
  </div>
</footer>
