<div
  class="flex mx-auto grid justify-items-center items-center grid-cols-3 gap-4 bg-gray-200 dark:bg-gray-800 p-2 mb-4 rounded-lg">
  <p-button styleClass="flex" (click)="changeMonth(-1)" label="Forrige" text="true" icon="pi pi-angle-left" />
  <p class="flex text-base md:text-lg text-center md:pt-3">{{ currentDate | date: 'MMMM yyyy' }}</p>
  <p-button
    styleClass="flex"
    (click)="changeMonth(1)"
    label="Næste"
    text="true"
    iconPos="right"
    icon="pi pi-angle-right" />
</div>
<div class="grid md:grid-cols-7 grid-cols-1 gap-2 mx-auto">
  @for (d of diff; track d) {
    <div class="flex flex-col h-40"></div>
  }
  @for (day of events | keyvalue; track day;) {
    <button
      class="flex flex-col h-40 rounded-lg relative"
      [ngClass]="
        day.value.weekendWorkday.isWeekend === true ? 'bg-gray-300 dark:bg-gray-800' : 'bg-gray-200 dark:bg-gray-600'
      "
      (click)="selectDate(day.value); $event.stopPropagation()" (keydown)="selectDate(day.value); $event.stopPropagation()">
      <h4 class="bg-sky-800 w-full text-center text-white rounded-t-lg p-2">
        {{ day.value.weekendWorkday.date| date: 'EEEE, dd' }}
      </h4>
      @if (day.value.events.length > -1) {
        @for (ev of day.value.events; track ev) {
          <p class="w-full p-2 truncate cursor-pointer hover:bg-gray-700 hover:text-white">{{ ev.name }}</p>
        }
      }
      @if (day.value.weekendWorkday.isHoliday === true) {
        <div class="absolute bottom-3 left-3">
          <i class="pi pi-info-circle" [title]="day.value.weekendWorkday.title"></i>
        </div>
      }

      <div class="absolute bottom-0 right-0">
        <p-button (click)="addEvent(day.key); $event.stopPropagation()" icon="pi pi-calendar-plus" text="true" />
      </div>
    </button>
  }
</div>

<!-- Events section -->
<p-dialog [(visible)]="visibleDay" [modal]="true" [style]="{ width: '90vw', height: '90vh' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <h3>Events for {{ selectedDate | date: 'EEEE, MMMM dd, yyyy' }}</h3>
    </div>
  </ng-template>
  <div>
    <!-- @if(selectedDate){
    <app-events
      [events]="getEvents(selectedDate.toISOString())"
      (removeEvent)="removeEvent(selectedDate, $event)"
    ></app-events>
    } -->
  </div>
</p-dialog>
