<h1 class="w-full text-center">Skift password</h1>
<div class="card">
  <form
    [formGroup]="changePasswordForm"
    (ngSubmit)="onSubmit()"
    class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full md:w-1/2 md:mx-auto">
    <div class="col-span-2 md:col-span-1">
      <label for="password">Password</label>
      <input
        pInputText
        class="w-full"
        id="password"
        formControlName="password"
        [invalid]="isInvalid('password')"
        placeholder="Password"
        type="password"
        size="255" />
      @if (isInvalid('password')) {
        <p-message severity="error" size="small" variant="simple"
          >Password skal have følgende: 6-255 karakterer, mindst et lille og et stort bogstav, have et tal og en speciel
          karakter.</p-message
        >
      }
    </div>
    <div class="col-span-2 md:col-span-1">
      <label for="passwordRepeat">Gentag Password</label>
      <input
        pInputText
        class="w-full"
        id="passwordRepeat"
        formControlName="passwordRepeat"
        [invalid]="isInvalid('passwordRepeat')"
        placeholder="Gentag Password"
        type="password"
        size="255" />
      @if (isInvalid('passwordRepeat')) {
        <p-message severity="error" size="small" variant="simple">Password skal være ens.</p-message>
      }
    </div>
    <div class="col-span-2 text-center">
      <p-button type="submit" label="Skift password" icon="pi pi-send" />
    </div>
  </form>
</div>
