<h1>GDPR</h1>
<h2>Dataansvarlig</h2>
<p>
  Vi er dataansvarlig for behandlingen af de personoplysninger, som vi behandler om vores kunder og samarbejdspartnere.
  Du finder vores kontaktoplysninger nedenfor.
</p>
<p>p1s.dk v/EasyModules.NET APS</p>
<p>CVR-nr.: 37043133</p>

<p>
  Det er ikke et krav, at vores virksomhed har en ekstern DPO, men hvis du har spørgsmål til behandlingen af dine
  personoplysninger, så kan du kontakte os via mail&#64;1s.dk.
</p>

<h2>Behandlingsaktiviteter</h2>
<p>Som dataansvarlig jf. GDPR, så har vi følgende behandlingsaktiviteter.</p>

<h3>Besøg på hjemmeside</h3>
<p>
  Når du besøger vores hjemmeside, så anvender vi cookies for at hjemmesiden kan fungere, hvilket du kan læse mere om i
  vores cookiepolitik.
</p>

<h3>Kommunikation med potentielle kunder</h3>
<p>Når du har spørgsmål til vores side, eller ønsker at høre mere om vores services, så kan du kontakte os via:</p>
<ul>
  <li>Kontaktformular</li>
  <li>Email</li>
  <li>Telefon</li>
</ul>
<p>
  Herigennem vil vi behandle dine personoplysninger, så vi kan indgå i en dialog med dig fx svare på spørgsmål om vores
  ydelser. Vi behandler kun den information, som du giver os i forbindelse med vores kommunikation.
</p>
<p>Vi vil typisk behandle følgende almindelige oplysninger: navn, email, telefonnummer.</p>
<p>Vores hjemmel til at behandle disse personoplysninger er databeskyttelsesforordningens artikel 6, stk. 1 litra f.</p>
<p>Vi sletter vores kommunikation med dig når det står klart om du ønsker vores ydelser eller ej.</p>
<p>
  Skulle der i et særligt tilfælde opstå et behov for at opbevare dine personoplysninger i længere tid, så vil dette
  kunne være tilfældet.
</p>

<h2>Kunder</h2>
<p>
  Vi har behov for at kommunikere med vores kunder, så vi sikrer os, at ydelsen leveres korrekt. Herigennem kan vi
  behandle oplysninger om navn, adresse, ydelser, særlige aftaler, betalingsinformationer og lignende.
</p>
<p>Hjemlen til at behandle disse personoplysninger er databeskyttelsesforordningens artikel 6, stk. 1 litra b.</p>

<p>
  Når ydelsen er leveret og eventuelle udestående er afsluttede, så vil vi umiddelbart herefter slette
  personoplysningerne.
</p>

<h2>Nyhedsbrev</h2>
<p>Vi har et nyhedsbrev, som det er frivilligt at tilmelde sig – og du kan altid framelde dig dette igen.</p>
<p>
  Formålet med nyhedsbrevet er at sende de tilmeldte mails med ny information fra virksomheden, som kan omhandle nyt
  indhold på hjemmesiden, annoncering af vores ydelser.
</p>
<p>
  Vi vil kun sende dig mails, hvis du har givet dit aktive samtykke til dette. Det kræver i første omgang, at du angiver
  din mailadresse, som vi efterfølgende sender en mail til, således at du kan bekræfte tilmeldingen. På denne måde, så
  sikrer vi, at du rent faktisk selv har tilmeldt dig nyhedsbrevet dvs. afgivet aktivt samtykke.
</p>
<p>
  Vores hjemmel til at behandle dine personoplysninger (dvs. mailadressen) i forbindelse med nyhedsbrevet vil være
  databeskyttelsesforordningens artikel 6, stk. 1 litra a.
</p>
<p>
  Vi vil behandle dine personoplysninger, så længe at du stadig er tilmeldt nyhedsbrevet. Ved afmeldelse af
  nyhedsbrevet, så stopper vi også med at sende dette til dig. Har vi ikke sendt dig et nyhedsbrev i 1 år, så bortfalder
  dit samtykke som følge af vores passivitet.
</p>
<p>
  Ved framelding af nyhedsbrevet, så gemmer vi dit nu tidligere samtykke i 2 år efter, at det senest er anvendt pga.
  forældelseskrav jf. Forbrugerombudsmandens spamvejledning afsnit 11.3.
</p>

<h2>Bogføring</h2>
<p>
  Vi skal gemme alle regnskabsbilag jf. bogføringsloven. Det betyder, at vi gemmer fakturaer og lignende bilag til brug
  for regnskabsføring. Heraf kan der fremgå almindelige personoplysninger som navn, adresse, ydelsesbeskrivelse.
</p>
<p>
  Vores hjemmel til at behandle personoplysninger til bogføringen er databeskyttelsesforordningens artikel 6, stk.1
  litra.
</p>
<p>Vi opbevarer disse oplysninger i minimum 5 år efter at indeværende regnskabsår er afsluttet.</p>

<h2>Jobansøgninger</h2>
<p>Vi tager ikke imod jobansøgninger på nuværende tidspunkt.</p>

<h2>Databehandlere</h2>
<p>Vi deler ikke data med andre databehandlere.</p>

<h2>Videregivelse af personoplysninger</h2>
<p>Vi videregiver ikke dine personoplysninger til tredjemand.</p>

<h2>Profilering og automatiserede afgørelser</h2>
<p>Vi foretager ikke profilering eller automatiserede afgørelser.</p>

<h2>Tredjelandeoverførsler</h2>
<p>Vi benytter som udgangspunkt databehandlere i EU/EØS, eller som opbevarer data i EU/EØS.</p>
<p>
  I nogle tilfælde er dette ikke muligt, og her kan der benyttes databehandlere udenfor EU/EØS, hvis disse kan give dine
  personoplysninger en passende beskyttelse.
</p>

<h2>Behandlingssikkerhed</h2>
<p>
  Vi holder behandlingen af personoplysninger sikker ved at have indført passende tekniske og organisatoriske
  foranstaltninger.
</p>
<p>
  Vi har lavet risikovurderinger af vores behandling af personoplysninger, og har herefter indført passende tekniske og
  organisatoriske foranstaltninger for at øge behandlingssikkerheden.
</p>
<p>
  En af vores vigtigste foranstaltninger er at holde vores medarbejdere opdaterede om GDPR via løbende awareness
  træning, GDPR kursus, samt ved at gennemgå vores GDPR-procedurer med medarbejderne.
</p>

<h2>De registreredes rettigheder</h2>
<p>
  Du har efter databeskyttelsesforordningen en række rettigheder i forhold til vores behandling af oplysninger om dig.
</p>
<p>Hvis du vil gøre brug af dine rettigheder skal du kontakte os, så vi kan hjælpe dig med dette.</p>

<h2>Ret til at se oplysninger (indsigtsret)</h2>
<p>Du har ret til at få indsigt i de oplysninger, som vi behandler om dig, samt en række yderligere oplysninger.</p>

<h2>Ret til berigtigelse (rettelse)</h2>
<p>Du har ret til at få urigtige oplysninger om dig selv rettet.</p>

<h2>Ret til sletning</h2>
<p>
  I særlige tilfælde har du ret til at få slettet oplysninger om dig, inden tidspunktet for vores almindelige generelle
  sletning indtræffer.
</p>

<h2>Ret til begrænsning af behandling</h2>
<p>
  Du har i visse tilfælde ret til at få behandlingen af dine personoplysninger begrænset. Hvis du har ret til at få
  begrænset behandlingen, må vi fremover kun behandle oplysningerne – bortset fra opbevaring – med dit samtykke, eller
  med henblik på at retskrav kan fastlægges, gøres gældende eller forsvares, eller for at beskytte en person eller
  vigtige samfundsinteresser.
</p>

<h2>Ret til indsigelse</h2>
<p>
  Du har i visse tilfælde ret til at gøre indsigelse mod vores ellers lovlige behandling af dine personoplysninger. Du
  kan også gøre indsigelse mod behandling af dine oplysninger til direkte markedsføring.
</p>

<h2>Ret til at transmittere oplysninger (dataportabilitet)</h2>
<p>
  Du har i visse tilfælde ret til at modtage dine personoplysninger i et struktureret, almindeligt anvendt og
  maskinlæsbart format samt at få overført disse personoplysninger fra én dataansvarlig til en anden uden hindring.
</p>
<p>
  Du kan læse mere om dine rettigheder i Datatilsynets vejledning om de registreredes rettigheder, som du finder på
  www.datatilsynet.dk.
</p>

<h2>Tilbagetrækning af samtykke</h2>
<p>
  Når vores behandling af dine personoplysninger er baseret på dit samtykke, så har du ret til at trække dit samtykke
  tilbage.
</p>

<h2>Klage til Datatilsynet</h2>
<p>
  Du har ret til at indgive en klage til Datatilsynet, hvis du er utilfreds med den måde, vi behandler dine
  personoplysninger på. Du finder Datatilsynets kontaktoplysninger på www.datatilsynet.dk.
</p>
<p>Vi vil generelt opfordre dig til at læse mere om GDPR, så du er opdateret på reglerne.</p>
