
<header>
  <h1 class="w-full text-center">LAN Parties hos p1s.dk - Sammen om Gaming!</h1>
  <p class="w-full text-center">Velkommen til p1s.dk officielle LAN party-side! Her samles gamere fra hele området for at spille, konkurrere og hygge sig i ægte e-sportsånd.</p>
</header>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
        <div class="flex flex-col">
            <p-card class="h-full">
            <ng-template #title><h3 class="w-full text-center">Fællesskab og Netværk</h3></ng-template>
            <ng-template #header>
                <img alt="Venskab" class="w-1/2 mx-auto mt-4" src="tiles/community.png" />
            </ng-template>
              <p>LAN parties hos p1s.dk er mere end bare spil. Det er stedet, hvor du møder ligesindede, deler tips og tricks, og måske finder dit næste team.</p>
              <p>Vi er gået retro og holder helst vores event hos klubbens medlemmer for at få den hjemlige stil og ordentlig forplejning.</p>
            </p-card>
        </div>
        <div class="flex flex-col">
            <p-card class="h-full">
                <ng-template #title><h3 class="w-full text-center">Turneringer og Præmier</h3></ng-template>
                <ng-template #header>
                    <img alt="Venskab" class="w-1/2 mx-auto mt-4" src="tiles/trophy.png" />
                </ng-template>
                <p>Vi afholder både casual og competitive turneringer med fede præmier - fra gaming gear til gavekort og trofæer.</p>
            </p-card>
        </div>
        <div class="flex flex-col">
            <p-card class="h-full">
                <ng-template #title><h3 class="w-full text-center">Kommende Events</h3></ng-template>
                <ng-template #header>
                    <img alt="Venskab" class="w-1/2 mx-auto mt-4" src="tiles/calendar.png" />
                </ng-template>
                <p> Vi afholder løbende LAN parties for vores medlemmer.</p>
            </p-card>
        </div>
    </div>

<section class="w-full text-center">
  <h2><i class="pi pi-wave-pulse" style="font-size: 1.5rem;margin-right: 0.5rem;"></i>Kom i gang</h2>
  <p>Vil du med?<br>
     Tilmeld dig vores klub i dag og bliv en del af et stærkt fællesskab.</p>
  <a [routerLink]="'/contact-us'" class="cta"><i class="pi pi-thumbs-up" style="font-size: 1rem;margin-right: 0.3rem;"></i> Kontakt os her</a>
</section>




