<form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="grid grid-cols-1 md:grid-cols-3 gap-4">
  <div class="col-span-1">
    <div class="mb-4">
      <label for="name">Navn</label>
      <input
        pInputText
        [disabled]="isAdmin === false"
        [readOnly]="isAdmin === false"
        class="w-full"
        id="name"
        formControlName="name"
        placeholder="Navn"
        type="text" />
    </div>
    <div class="mb-4">
      <label for="description">Beskrivelse</label>
      <input
        pInputText
        [disabled]="isAdmin === false"
        [readOnly]="isAdmin === false"
        class="w-full"
        id="description"
        formControlName="description"
        placeholder="Beskrivelse"
        type="text"
        size="255" />
    </div>
    <div class="mb-4">
      <label for="startDateTime" class="block">Start</label>
      <p-datepicker
        inputId="startDateTime"
        [disabled]="isAdmin === false"
        [(ngModel)]="startDateTime"
        [ngModelOptions]="{ standalone: true }"
        [showTime]="true"
        dateFormat="yy-mm-dd"
        hourFormat="24"
        appendTo="body" />
    </div>
    <div class="mb-4">
      <label for="endDateTime" class="block">Slut</label>
      <p-datepicker
        inputId="endDateTime"
        [disabled]="isAdmin === false"
        [(ngModel)]="endDateTime"
        [ngModelOptions]="{ standalone: true }"
        [showTime]="true"
        dateFormat="yy-mm-dd"
        hourFormat="24"
        appendTo="body" />
    </div>
  </div>
  <div class="col-span-1">
    <h3>Teams</h3>
    @if (isAdmin === true) {
      <div>
        <p-autocomplete
          [(ngModel)]="selectedTeam"
          [ngModelOptions]="{ standalone: true }"
          showClear="true"
          [suggestions]="teams"
          (completeMethod)="searchTeams($event)"
          optionLabel="name" />
        <p-button
          [disabled]="selectedTeam === undefined"
          size="small"
          class="ml-2"
          icon="fal fa-plus"
          text="true"
          (click)="addTeam()" />
      </div>
    }
    @for (t of selectedEvent?.teams; track t) {
      <div>
        @if (isAdmin === true) {
          <p-button type="button" size="small" text="true" severity="danger" icon="fal fa-times" />
        }
        {{ t.name }}
      </div>
    }
  </div>
  <div class="col-span-1">
    <h3>Deltagere</h3>
    @if (isAdmin === true) {
      <div>
        <p-autocomplete
          [(ngModel)]="selectedUser"
          [ngModelOptions]="{ standalone: true }"
          showClear="true"
          [suggestions]="users"
          (completeMethod)="searchUsers($event)"
          optionLabel="fullName" />
        <p-button
          [disabled]="selectedUser === undefined"
          size="small"
          class="ml-2"
          icon="fal fa-plus"
          text="true"
          (click)="addTeam()" />
      </div>
    }
    @for (u of selectedEvent?.eventsUsers; track u) {
      <div>
        @if (isAdmin === true) {
          <p-button type="button" size="small" text="true" severity="danger" icon="fal fa-trash" />
        }
        @if (u.accepted !== null) {
          <i class="fal fa-check text-green-400 mr-2" title="Deltager"></i>
        } @else if (u.declined !== null) {
          <i class="fal fa-times text-red-400 mr-2" title="Deltager ikke"></i>
        } @else {
          <i class="fal fa-question text-gray-400 mr-2" title="Ikke svaret"></i>
        }
        {{ u.user?.firstName }} {{ u.user?.lastName }}
      </div>
    }
  </div>
  @if (isAdmin === true) {
    <div class="col-span-1 md:col-span-3 text-right">
      <p-button type="submit" label="Gem Event" icon="pi pi-save" />
    </div>
  }
</form>
