<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="da">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>@ViewBag.Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0; color:black;">
	<table style="border:0px;padding:0;border-spacing: 0; border-collapse: collapse;width:100%;">		
		<tr>
			<td style="padding: 10px 0 30px 0;">
				<table style="align-content: center; padding:0; width:600px; border: 1px solid #cccccc; border-spacing: 0; border-collapse: collapse;">
					<tr>
						<td style="background-color: #000; padding: 10px 0 10px 0; color: #fff; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
							<img src="https://www.hourplanner.com/logo/logo.png" alt="Hourplanner Logo" width="159" height="112" style="display:block; margin:0 auto;" />
						</td>
					</tr>
					<tr>
						<td style="background-color:#fff;padding: 20px 15px 20px 15px;">
							@RenderBody()
						</td>
					</tr>
					<tr>
						<td style="background-color:#083685;padding: 10px 10px 10px 10px;text-align: center;">
                            <a href="https://www.hourplanner.com/" style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px; text-decoration: none;">&copy; Hourplanner APS</a>
                            <p style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;"><a href="https://hourplanner.com/" style="color:#fff;">Hourplanner APS</a> Cvr nr. <a href="https://datacvr.virk.dk/data/visenhed?enhedstype=virksomhed&id=39179032" style="color:#fff;">DK39179032</a></p>
                            <p style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;">Langelandsvej 43, st., 2000 Frederiksberg</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>