<h1 class="text-3xl font-bold mb-6 text-center">Mød holdet</h1>
<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  <p-card>
    <ng-template #header>
      <div class="w-full flex justify-center p-4">
        <img alt="Card" class="w-50" src="tiles/user-male.png" />
      </div>
    </ng-template>
    <div class="text-center">
      <h2 class="text-lg font-semibold">Rolf Veinø Sørensen</h2>
      <p class="text-sm text-gray-500">Administrator/Træner</p>
      <p class="mt-2 text-sm text-gray-700">
        Gamer, softwareudvikler med passion for at udbrede e-sport som en sportsgren og middel til socialt samvær.
      </p>
    </div>
  </p-card>
  <p-card>
    <ng-template #header>
      <div class="w-full flex justify-center p-4">
        <img alt="Card" class="w-50" src="tiles/user-female.png" />
      </div>
    </ng-template>
    <div class="text-center">
      <h2 class="text-lg font-semibold">Dorthe Veinø Sørensen</h2>
      <p class="text-sm text-gray-500">Assisterende træner</p>
      <p class="mt-2 text-sm text-gray-700">Sørger for at hele verden hænger sammen og at alle har det godt.</p>
    </div>
  </p-card>
  <p-card>
    <ng-template #header>
      <div class="w-full flex justify-center p-4">
        <img alt="Card" class="w-50" src="tiles/user-dummy.png" />
      </div>
    </ng-template>
    <div class="text-center">
      <h2 class="text-lg font-semibold">Dit navn her</h2>
      <p class="text-sm text-gray-500">Træner</p>
      <p class="mt-2 text-sm text-gray-700">
        Har du lyst til at hjælpe til med træning, coaching eller andet i klubben, så kontakt os gerne.
      </p>
    </div>
  </p-card>
</div>
