<header class="main-bg w-full sticky top-0 pl-28">
  <p-menubar [model]="items">
    <ng-template #start>
      <a href="/" class="brand-logo-link">
        <img
          class="brand-logo-img"
          src="logos/logo.png"
          srcset="logos/logo.svg"
          alt="E-sport p1s.dk logo"
        />
      </a>
    </ng-template>
    <ng-template #item let-item let-root="root">
      <a pRipple class="flex items-center p-menubar-item-link">
        <span>{{ item.label }}</span>
      </a>
    </ng-template>
    <ng-template #end>
      <div class="flex items-center gap-2">
        <p-button
          icon="pi pi-moon"
          [rounded]="true"
          [text]="true"
          severity="info"
          [title]="'Toggle Dark Mode'"
          (onClick)="toggleDarkMode()"
        />
        <p-button
          (click)="visibleLogin = true"
          icon="pi pi-user"
          [rounded]="true"
          [text]="true"
          severity="info"
        />
        <p-dialog
          maskStyleClass="backdrop-blur-sm"
          [(visible)]="visibleLogin"
          styleClass="!border-0 !bg-transparent"
        >
          <ng-template #headless>
            <div class="flex flex-col px-8 py-8 gap-6 rounded-2xl bg-sky-600">
              <div class="inline-flex flex-col gap-2">
                <label for="username" class="text-primary-50 font-semibold"
                  >Email</label
                >
                <input
                  pInputText
                  id="username"
                  class="!bg-white/20 !border-0 !p-4 !text-primary-50 w-80"
                />
              </div>
              <div class="inline-flex flex-col gap-2">
                <label for="password" class="text-primary-50 font-semibold"
                  >Password</label
                >
                <input
                  pInputText
                  id="password"
                  class="!bg-white/20 !border-0 !p-4 !text-primary-50 w-80"
                  type="password"
                />
              </div>
              <div class="flex items-center gap-4">
                <p-button
                  label="Fortryd"
                  (click)="visibleLogin = false"
                  [text]="true"
                  styleClass="!p-4 w-full !text-primary-50 !border !border-white/30 hover:!bg-white/10"
                  class="w-full"
                />
                <p-button
                  label="Log ind"
                  (click)="signIn()"
                  [text]="true"
                  styleClass="!p-4 w-full !text-primary-50 !border !border-white/30 hover:!bg-white/10"
                  class="w-full"
                />
              </div>
            </div>
          </ng-template>
        </p-dialog>
      </div>
    </ng-template>
  </p-menubar>
</header>

<div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8 main pt-12">
  <router-outlet
    #routerOutlet="outlet"
    [@routeAnimation]="getAnimationData(routerOutlet)"
  ></router-outlet>
</div>
<app-footer></app-footer>

<p-scrollTop></p-scrollTop>
