<header class="main-bg w-full sticky top-0 pl-28">
<p-menubar [model]="items">
    <ng-template #start>
      <a href="/">
            <img
              class="brand-logo"
              src="logos/logo.png"
              srcset="logos/logo.svg"
              alt="E-sport p1s.dk logo" />
      </a>
    </ng-template>
    <ng-template #item let-item let-root="root">
        <a pRipple class="flex items-center p-menubar-item-link">
            <span>{{ item.label }}</span>
        </a>
    </ng-template>
    <ng-template #end>
        <div class="flex items-center gap-2">
            <input type="text" pInputText placeholder="Søg" class="size-auto" />
            <p-button icon="pi pi-moon" [rounded]="true" [text]="true" severity="info" [title]="'Toggle Dark Mode'" (onClick)="toggleDarkMode()"/>
            <p-button icon="pi pi-user" [rounded]="true" [text]="true" severity="info" [title]="'Log ind'" (onClick)="logIn()"/>
        </div>
    </ng-template>
</p-menubar>
</header>

<div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8 main">
  <router-outlet #routerOutlet="outlet" [@routeAnimation]="getAnimationData(routerOutlet)"></router-outlet>
</div>
<app-footer></app-footer>

<p-scrollTop></p-scrollTop>