<h1>Administration</h1>
<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  <div>
    <p-card>
      <ng-template #header>
        <h2 class="w-full text-center">Brugere</h2>
      </ng-template>
      <div class="w-full text-center">
        <a routerLink="/admin/users">
          <i class="fal fa-users" style="font-size: 5rem"></i>
        </a>
      </div>
    </p-card>
  </div>
  <div>
    <p-card>
      <ng-template #header>
        <h2 class="w-full text-center">Hold</h2>
      </ng-template>
      <div class="w-full text-center">
        <a routerLink="/admin/teams">
          <i class="fal fa-users-class" style="font-size: 5rem"></i>
        </a>
      </div>
    </p-card>
  </div>
  <div>
    <p-card>
      <ng-template #header>
        <h2 class="w-full text-center">Beskeder</h2>
      </ng-template>
      <div class="w-full text-center">
        <i class="fal fa-envelope" style="font-size: 5rem"></i>
      </div>
    </p-card>
  </div>
</div>
