@import "tailwindcss";
@import "primeicons/primeicons.css";
html,
body {
  margin: 0;
}
.main {
  min-height: calc(100vh - 250px);
  padding-bottom: 2rem;
}
.main-bg{
  background-color: #253749;
}
.brand-logo {
  height: 64px;
  position: fixed;
  top: 10px;
  left: 10px;
}