<h1 class="w-full text-center">Bed om nyt password</h1>
<div class="card ">
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full md:w-1/2 md:mx-auto">
        <div class="col-span-2">
            <label for="passwordRepeat">Email</label>
            <input pInputText
                class="w-full"
                formControlName="username"
                [invalid]="isInvalid('username')"
                placeholder="Email"
                type="email"/>
            @if (isInvalid('username')) {
                <p-message severity="error" size="small" variant="simple">Email skal udfyldes og være mindre end 255 karakterer.</p-message>
            }
        </div>
        @if (captcha){
            <div class="col-span-2 justify-items-center text-center">
                <img [src]="captcha.captchaImage" alt="captcha" width="150" height="60" />
                <input pInputText
                    formControlName="captchaCode"
                    [invalid]="isInvalid('captchaCode')"
                    placeholder=""
                    type="text"
                    size="10"/>
                @if (isInvalid('captchaCode')) {
                    <p-message styleClass="w-full text-center justify-items-center" severity="error" size="small" variant="simple">Captcha skal udfyldes og være på 6 karakterer.</p-message>
                }
            </div>
        }
        <div class="col-span-2 text-center">
            <p-button type="submit" label="Nulstil password" icon="pi pi-send" />
        </div>

    </form>
</div>