<img alt="p1s.dk logo" srcset="logos/logo.svg" src="logos/logo.png" width="200px" class="mx-auto mt-6" />
<h1 class="mx-auto w-full text-center">Velkommen til E-Sport klubben p1s.dk</h1>
<p class="mx-auto w-full text-center">Vi er en privat e-sports klub med fokus på socialt samvær.</p>
<p class="mx-auto w-full text-center">Klubben har base i Værløse.</p>
<div class="mt-6">
  <h2 class="w-full text-center">Vores værdier</h2>
</div>
<div class="grid md:grid-cols-3 grid-cols-1 gap-4 mx-auto">
  <div class="flex flex-col">
    <p-card class="h-full">
      <ng-template #title><h3 class="w-full text-center">Venskab</h3></ng-template>
      <ng-template #header>
        <img alt="Venskab" class="w-1/2 mx-auto mt-4" src="tiles/play-together.png" />
      </ng-template>
      <p class="m-0">Vores community bygger på sammenhold og godt kammeratskab.</p>
      <p class="m-0">Vi mødes fysisk og spiller sammen med fokus på det sociale.</p>
      <p class="m-0">I vores klub er der plads til alle.</p>
    </p-card>
  </div>
  <div class="flex flex-col">
    <p-card class="h-full">
      <ng-template #title><h3 class="w-full text-center">Læring</h3></ng-template>
      <ng-template #header>
        <img alt="Læring" class="w-1/2 mx-auto mt-4" src="tiles/learn.png" />
      </ng-template>
      <p class="m-0">Vi taler strategi og deler erfaring.</p>
      <p class="m-0">God kommunikation er vigtigt og vi træner den gode tone - også når holdet ikke vinder.</p>
      <p class="m-0">Analyserer vores kampe og lærer af vores fejl og hvad vi gjorde godt.</p>
    </p-card>
  </div>
  <div class="flex flex-col">
    <p-card class="h-full">
      <ng-template #title><h3 class="w-full text-center">Konkurrence</h3></ng-template>
      <ng-template #header>
        <img alt="Konkurrence" class="w-1/2 mx-auto mt-4" src="tiles/competition.png" />
      </ng-template>
      <p class="m-0">På LAN events holder vi venskabelige interne konkurrencer.</p>
      <p class="m-0">
        Alle har en chance for at vinde til LAN events fordi vi laver konkurrencer der passer til forskellige profiler.
      </p>
      <p class="m-0">Husk at ham der healede dig er en god spiller selvom han ikke fik ligeså mange kills som dig!</p>
    </p-card>
  </div>
</div>
<div class="mt-6">
  <h2 class="w-full text-center">Vi spiller</h2>
</div>
<div class="grid grid-cols-3 gap-4 mx-auto">
  <div class="flex flex-col">
    <img alt="Fortnite" class="w-1/2 mx-auto mt-4" src="games/fortnite.png" />
  </div>
  <div class="flex flex-col">
    <img alt="Roblox" class="w-1/2 mx-auto mt-4" src="games/roblox.png" />
  </div>
  <div class="flex flex-col">
    <img alt="Minecraft" class="w-1/2 mx-auto mt-4" src="games/minecraft.png" />
  </div>
  <div class="flex flex-col">
    <img alt="Counter Strike" class="w-1/2 mx-auto mt-4" src="games/cs.png" />
  </div>
  <div class="flex flex-col">
    <img alt="Marvel Rivals" class="w-1/2 mx-auto mt-4" src="games/marvel-rivals.png" />
  </div>
  <div class="flex flex-col">
    <img alt="PalWorld" class="w-1/2 mx-auto mt-4" src="games/palworld.png" />
  </div>
  <div class="flex flex-col">
    <img alt="FC" class="w-1/2 mx-auto mt-4" src="games/fc.png" />
  </div>
  <div class="flex flex-col">
    <img alt="Valorant" class="w-1/2 mx-auto mt-4" src="games/valorant.png" />
  </div>
</div>
